/*
  @apply seem to only work if here
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-sans;
}

#__next{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply bg-gray-100;
}

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl my-4 text-primary-900;
  }

  h3 {
    @apply text-2xl my-3 text-primary-900;
  }

  h4 {
    @apply text-xl my-2 text-warning-600;
  }

  h5 {
    @apply text-lg my-1;
  }

  h6 {
    @apply text-base font-bold;
  }

  .header{
    @apply flex justify-between items-center bg-primary-700 h-24;
  }

  .container{
    @apply flex flex-grow px-8 py-2 mx-auto;
  }

  .header-row{
    @apply justify-between items-center mx-auto py-1;
  }

  .card-centered{
    @apply flex flex-col justify-center w-1/3 mx-auto p-8 m-16 border rounded;
  }

  .page-title{
    @apply uppercase tracking-wide;
  }

}



.footer{
  @apply text-xl bg-gray-600 text-gray-200 px-8 py-2;
}

.btn​ {
  @apply​ rounded shadow-sm transition hover:shadow-none px-3 py-2;
}

.btn-icon {
  @apply flex items-center;
}

.btn-gray {
  @apply bg-gray-300 hover:bg-gray-400;
}

.btn-indigo {
  @apply bg-indigo-300 hover:bg-indigo-400;
}